apiVersion: v1
kind: policy
metadata:
  name: allow-kubelet-sip
spec:
  selector: ibm.role in { 'worker_public', 'master_public' }
  ingress:
  - action: allow
    protocol: tcp
    destination:
      ports:
      - 5060
  - action: allow
    protocol: udp
    destination:
      ports:
      - 5060
  order: 1500
