kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: sms-gateway
  creationTimestamp:
  labels:
    io.kompose.service: sms-gateway
spec:
  replicas: 1
  template:
    metadata:
      creationTimestamp:
      labels:
        io.kompose.service: sms-gateway
    spec:
      volumes:
      - name: secret-certs
        secret:
          secretName: secret-certs
      containers:
      - name: vgw-sms-gateway
        image: ibmcom/voice-gateway-sms:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 9080
          protocol: TCP
        - containerPort: 9443
          protocol: TCP
        env:
        - name: SMS_PROVIDER_PASSWORD
          value: "xxxxxxxxx19ac64a3073b889"
        - name: SMS_PROVIDER_URL
          value: "https://api.twilio.com"
        - name: SMS_PROVIDER_USERNAME
          value: "xxxxxxxxxxxxxxxxa6f05427c4bff3"
        - name: TENANT_PHONE_NUMBER
          value: "+12222222222"
        - name: TIMEOUT_FOR_SESSION
          value: "3600"
        - name: WATSON_CONVERSATION_PASSWORD
          value: "remove this variable when not required"
        - name: WATSON_CONVERSATION_URL
          value: "https://gateway.watsonplatform.net/conversation/api/"
        - name: WATSON_CONVERSATION_USERNAME
          value: "remove this variable when not required"
        - name: WATSON_CONVERSATION_WORKSPACE_ID
          value: "When SOE used, remove this variable when not required"
        - name: SSL_KEY_PASSPHRASE
          value: "remove this variable when not required"
        - name: SSL_KEY_STORE_FILE
          value: "/resources/security/<key-filename> remove this variable when not required"
        - name: SSL_KEY_FILE_TYPE
          value: "remove this variable when not required"
        - name: SSL_TRUST_PASSPHRASE
          value: "remove this variable when not required"
        - name: SSL_TRUST_STORE_FILE
          value: "/resources/security/<key-filename> remove this variable when not required"
        - name: SSL_TRUST_FILE_TYPE
          value: "remove this variable when not required"
        - name: SMS_WEBHOOK_USERNAME
          value: "remove this variable when not required"
        - name: SMS_WEBHOOK_PASSWORD
          value: "remove this variable when not required"
        - name: CTRL_TENANT_USERNAME
          value: "remove this variable when not required"
        - name: CTRL_TENANT_PASSWORD
          value: "remove this variable when not required"
        - name: LOG_LEVEL
          value: "info"
        - name: ENABLE_TRANSCRIPTION_MESSAGES
          value: 'false'
        volumeMounts:
        - name: secret-certs
          mountPath: "/resources/security/"
      restartPolicy: Always
  strategy:
    type: Recreate
